html {
  font: 14px/1.2 Arial, Helvetica, sans-serif; }
  html body {
    margin: 0;
    padding: 0; }
    html body .wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
      html body .wrapper header .logo {
        text-align: center;
        padding: 10px; }
        html body .wrapper header .logo img {
          height: 40px; }
      html body .wrapper header .menu {
        padding: 10px 15px;
        font-size: 16px;
        background-color: #EEEEEE;
        border: 1px solid #DBDBDB; }
        html body .wrapper header .menu a {
          text-decoration: none;
          color: black; }
          html body .wrapper header .menu a :hover {
            color: #39c2d7; }
      html body .wrapper header div:nth-child(2) {
        border-top: 2px solid #DBDBDB; }
      html body .wrapper header div:nth-child(5) {
        border-bottom: 2px solid #DBDBDB; }
      html body .wrapper .banner {
        background-image: url(../img/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        max-height: 420px; }
        html body .wrapper .banner div {
          padding: 15px;
          background-color: #39c2d7;
          margin: 30px;
          margin-top: 43%;
          font-size: 16px;
          color: white; }
      html body .wrapper .news a {
        display: block;
        color: black;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-decoration: none; }
        html body .wrapper .news a .post {
          padding: 2%;
          margin: 5% 5% 0 5%;
          background-color: lightgray; }
          html body .wrapper .news a .post .news-image {
            text-align: center;
            margin-bottom: 3%;
            padding: 0 10%; }
            html body .wrapper .news a .post .news-image img {
              max-width: 100%;
              height: auto; }
          html body .wrapper .news a .post .news-text {
            line-height: 1.5; }
            html body .wrapper .news a .post .news-text .title {
              font-size: 16px; }
          html body .wrapper .news a .post:hover {
            background-color: #39c2d7; }
      html body .wrapper footer {
        margin-top: 5%;
        padding: 3%;
        background-color: #39c2d7; }
        html body .wrapper footer .copyright {
          color: white;
          text-align: center; }
          html body .wrapper footer .copyright ul {
            margin: 0;
            margin-bottom: 3%;
            padding: 0;
            text-align: center;
            line-height: 1.5; }
            html body .wrapper footer .copyright ul li {
              list-style-type: none; }
              html body .wrapper footer .copyright ul li a {
                color: white; }
              html body .wrapper footer .copyright ul li :hover {
                text-decoration: none; }

@media only screen and (min-width: 575px) {
  html body .wrapper header {
    text-align: center;
    margin-bottom: 1%; }
    html body .wrapper header .logo {
      margin-top: 1%; }
      html body .wrapper header .logo img {
        height: 40px; }
    html body .wrapper header .menu {
      font-size: 16px;
      background-color: transparent;
      border: none; }
    html body .wrapper header div:nth-child(2) {
      border-top: none; }
    html body .wrapper header div:nth-child(5) {
      border-bottom: none; }
    html body .wrapper header div:nth-child(n+2) {
      display: inline-block; }
  html body .wrapper .banner {
    max-height: 510px; }
    html body .wrapper .banner div {
      text-align: center;
      background-color: transparent;
      margin: 0 25%;
      margin-top: 3%;
      margin-bottom: 52%;
      font-size: 20px; }
  html body .wrapper .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding: 25px; }
    html body .wrapper .news a {
      height: 100%; }
      html body .wrapper .news a .post {
        height: 100%;
        margin: 0; }
  html body .wrapper footer {
    margin-top: 0; }
    html body .wrapper footer .copyright ul li {
      margin-left: 3%;
      display: inline-block; }
      html body .wrapper footer .copyright ul li:first-child {
        margin-left: 0; } }
@media only screen and (min-width: 900px) {
  html body .wrapper header {
    padding-left: 12.5%;
    text-align: left; }
    html body .wrapper header .logo {
      padding: 10px; }
      html body .wrapper header .logo img {
        height: 45px; }
    html body .wrapper header div:nth-child(n) {
      display: inline-block;
      vertical-align: middle; }
  html body .wrapper .banner {
    max-height: 510px; }
    html body .wrapper .banner div {
      text-align: left;
      margin: 0 52% 0 12%;
      margin-top: 3%;
      margin-bottom: 10%;
      font-size: 35px; }
  html body .wrapper .news {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 12.5%; }
    html body .wrapper .news a {
      height: 100%; }
      html body .wrapper .news a .post {
        height: 100%; }
        html body .wrapper .news a .post .news-image {
          padding: 0; }
  html body .wrapper footer {
    padding: 2%; }
    html body .wrapper footer .copyright {
      text-align: left;
      display: inline-block;
      width: 100%;
      padding-left: 11%; }
      html body .wrapper footer .copyright ul {
        margin: 0;
        text-align: left;
        display: inline-block;
        width: 280px; } }
