html {
  background-color: #E0F6FD;
  font-family: "Times New Roman", Times, serif; }
  html body {
    margin: 10px 15% 10px 15%;
    padding: 10px 30px 20px 20px;
    width: auto;
    height: auto;
    color: white;
    max-width: 1100px;
    background-color: #3B3B3B; }
    html body div.column {
      column-count: 2; }
    html body div#content {
      width: 100%;
      height: auto;
      box-sizing: content-box;
      overflow-y: hidden; }
      html body div#content h1 {
        color: #ECC114;
        text-align: center;
        text-transform: uppercase; }
      html body div#content h2 {
        color: #ECC114; }
      html body div#content img {
        padding: 2px 2px 2px 2px;
        width: auto;
        height: auto;
        display: block;
        border: 2px solid #ECC114; }
        html body div#content img.img-left {
          margin: 0 15px 15px 0;
          float: left; }
        html body div#content img.img-right {
          margin: 5px 0 5px 10px;
          float: right; }
      html body div#content div.brief {
        margin: 0 20px 45px 0;
        padding: 15px 15px 15px 15px;
        width: 97%;
        height: auto;
        color: black;
        float: none;
        background-color: #FFF178;
        display: block; }
      html body div#content a {
        color: #B29C04; }
        html body div#content a:hover {
          color: gray; }
        html body div#content a:visited {
          color: orange; }
      html body div#content table {
        margin: 0 0 50px 0;
        width: 97%;
        height: auto;
        border-collapse: collapse; }
        html body div#content table caption {
          color: black;
          text-align: right; }
        html body div#content table tbody tr:first-child {
          background-color: #94A34E; }
          html body div#content table tbody tr:first-child th {
            padding: 7px 0 7px 15px;
            color: black;
            font-weight: normal;
            text-align: left;
            text-transform: uppercase;
            border-right: 1px solid white; }
            html body div#content table tbody tr:first-child th:last-child {
              border-right: none; }
        html body div#content table tbody tr:nth-child(n+1) td {
          padding: 7px 0 7px 15px;
          background-color: #677D01;
          border-bottom: 0.5px solid #D3D3D3; }
    html body input.cell_width {
      margin: 5px 0 15px 0;
      padding: 0 0 0 5px;
      width: 100%;
      height: 30px;
      color: #808080;
      border: 1px solid #D3D3D3;
      box-sizing: border-box;
      box-shadow: none; }
    html body textarea {
      margin: 5px 0 20px 0;
      padding: 0 0 0 5px;
      width: 100%;
      height: 200px;
      color: #808080;
      border-color: #D3D3D3;
      box-sizing: border-box;
      vertical-align: top;
      resize: vertical; }
    html body #button {
      margin: 0 0 15px 0;
      width: 255px;
      height: 45px;
      position: relative;
      background-color: transparent;
      font-size: 125%;
      font-weight: normal;
      color: #ECC114;
      cursor: pointer;
      border: 1px #ECC114 solid;
      transition: all ease 0.2s; }
      html body #button:hover {
        border: 3px #ECC114 solid;
        font-weight: bold; }
      html body #button:active {
        top: 3px;
        box-shadow: 0 3px 0 transparent; }
    html body span {
      color: #ECC114; }
