html {
  height: auto;
  width: auto;
  max-height: 100%;
  background-color: #DCBB9A;
  font-family: "Times New Roman", Times, serif; }
  html body {
    height: auto;
    width: auto;
    color: #000000;
    max-width: 1100px;
    background-color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 10px; }
    html body form {
      max-width: 1100px; }
    html body div.column {
      column-count: 2; }
    html body input.cell_width {
      color: #808080;
      border-color: #D3D3D3;
      width: 100%;
      height: 30px;
      padding-left: 5px;
      box-sizing: border-box;
      box-shadow: none;
      border-style: solid;
      border-width: 1px;
      margin-bottom: 15px;
      margin-top: 5px; }
    html body textarea {
      color: #808080;
      border-color: #D3D3D3;
      width: 100%;
      height: 200px;
      padding-left: 5px;
      box-sizing: border-box;
      vertical-align: top;
      resize: vertical;
      overflow: auto;
      margin-bottom: 20px;
      margin-top: 5px; }
    html body #button {
      position: relative;
      cursor: pointer;
      width: 255px;
      height: 45px;
      background-color: transparent;
      color: #5488B5;
      font-weight: normal;
      border: 1px #5488B5 solid;
      font-size: 125%;
      margin-bottom: 15px;
      top: 0px;
      transition: all ease 0.3s; }
      html body #button:active {
        box-shadow: 0 3px 0 transparent;
        top: 3px; }
    html body span {
      color: #808080; }
    html body div#content {
      max-width: 100%;
      width: 100%;
      box-sizing: content-box;
      overflow-y: auto; }
      html body div#content h1 {
        text-align: center;
        color: #893C00;
        text-transform: none; }
      html body div#content h2 {
        color: #893C00; }
      html body div#content img {
        border: 2px solid #893C00;
        padding: 2px;
        max-width: 100%;
        height: auto;
        display: block; }
        html body div#content img.img-left {
          float: left;
          margin: 0 15px 15px 0;
          max-width: 100%; }
        html body div#content img.img-right {
          float: right;
          margin: 0 0 5px 10px; }
      html body div#content div.brief {
        color: #000000;
        float: left;
        background-color: #FADCBA;
        padding: 15px;
        width: 40%;
        height: auto;
        display: block;
        margin: 0 20px 5px 0; }
      html body div#content a {
        color: #5488B5; }
      html body div#content table {
        border-collapse: collapse;
        width: 97%;
        max-width: 1100px;
        margin-bottom: 50px; }
        html body div#content table caption {
          text-align: right;
          color: #000000; }
        html body div#content table tbody tr:first-child {
          background-color: #E0E0E0; }
          html body div#content table tbody tr:first-child th {
            color: #000000;
            padding: 7px 0 7px 15px;
            font-weight: normal;
            text-align: left;
            text-transform: uppercase;
            border-right: 1px solid white; }
            html body div#content table tbody tr:first-child th:last-child {
              border-right: none; }
        html body div#content table tbody tr:nth-child(n+1) td {
          border-bottom: 1px solid #D3D3D3;
          padding: 7px 0 7px 15px;
          background-color: #ffffff; }
