@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(http://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'; }
  html body {
    margin: 0;
    padding: 0; }
    html body img {
      max-width: 100%; }
    html body .wrapper {
      margin: 0;
      padding: 0; }
      html body .wrapper header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-start;
        min-height: 740px;
        background-image: url(../img/apples.jpg);
        background-size: cover; }
        html body .wrapper header .flex-container {
          border: 1px solid red;
          padding: 26px 215px;
          display: flex;
          align-items: center;
          flex-wrap: nowrap; }
          html body .wrapper header .flex-container .logo {
            margin: 0;
            display: flex;
            flex-wrap: nowrap;
            border: 1px solid red;
            flex: 5; }
            html body .wrapper header .flex-container .logo a {
              letter-spacing: 3px;
              color: white;
              text-decoration: none;
              font-size: 14px; }
          html body .wrapper header .flex-container menu {
            padding: 0;
            margin: 0;
            border: 1px solid red;
            display: flex;
            flex: 3;
            flex-wrap: wrap;
            justify-content: space-around; }
            html body .wrapper header .flex-container menu li {
              list-style-type: none; }
              html body .wrapper header .flex-container menu li a {
                font-size: 14px;
                text-decoration: none;
                color: white; }
                html body .wrapper header .flex-container menu li a:hover {
                  border-bottom: 2px solid gray; }
        html body .wrapper header .flex-title-container {
          border: 1px solid red;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: stretch;
          justify-content: center;
          flex-grow: 1; }
          html body .wrapper header .flex-title-container div {
            border: 1px solid blue;
            align-self: center; }
            html body .wrapper header .flex-title-container div:nth-child(3) {
              border: 1px solid blue; }
          html body .wrapper header .flex-title-container h1 {
            margin: 0;
            padding: 0;
            color: white;
            letter-spacing: 10px;
            font-size: 50px;
            font-weight: 100; }
            html body .wrapper header .flex-title-container h1 .amp {
              font-size: 100px;
              font-weight: 100; }
            html body .wrapper header .flex-title-container h1 .sup {
              vertical-align: baseline;
              position: relative;
              top: -26px;
              font-size: 14px;
              letter-spacing: 0; }
          html body .wrapper header .flex-title-container p {
            margin: 0;
            color: white;
            font-size: 14px; }
          html body .wrapper header .flex-title-container button {
            background-color: rgba(0, 0, 0, 0.4);
            border: 2px solid white;
            padding: 20px 80px 20px 80px;
            color: white;
            font-size: 14px; }
      html body .wrapper .flex-under-header-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch; }
        html body .wrapper .flex-under-header-container div {
          border: 1px solid red;
          display: flex; }
          html body .wrapper .flex-under-header-container div.left {
            flex: 1;
            font-size: 24px;
            line-height: 1.8; }
            html body .wrapper .flex-under-header-container div.left p {
              margin: 0;
              padding: 120px;
              text-align: left; }
          html body .wrapper .flex-under-header-container div.right {
            flex: 1;
            font-size: 14px;
            align-items: center; }
            html body .wrapper .flex-under-header-container div.right p {
              margin: 0;
              text-align: justify;
              padding-right: 120px; }
      html body .wrapper .flex-featured-articles {
        background-color: #9E9E9E;
        padding-bottom: 180px; }
        html body .wrapper .flex-featured-articles p {
          margin: 0;
          padding-top: 145px;
          padding-bottom: 80px;
          font-size: 24px;
          text-align: center; }
        html body .wrapper .flex-featured-articles div.gallery {
          padding: 0 200px;
          padding-bottom: 100px; }
          html body .wrapper .flex-featured-articles div.gallery :first-child {
            padding-bottom: 30px; }
          html body .wrapper .flex-featured-articles div.gallery div.row1 {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 300px;
            grid-column-gap: 25px;
            justify-items: start; }
          html body .wrapper .flex-featured-articles div.gallery div.row2 {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 300px;
            grid-column-gap: 25px;
            justify-items: start; }
      html body .wrapper div.subscribe {
        border: 1px solid red;
        display: flex;
        align-items: stretch;
        padding: 80px;
        flex-wrap: wrap;
        background-color: white;
        margin: 0 205px; }
        html body .wrapper div.subscribe p {
          margin: 0;
          padding: 0;
          font-size: 24px; }
        html body .wrapper div.subscribe div.subscribe-newsletter {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 3;
          border: 1px solid red; }
        html body .wrapper div.subscribe div.form {
          flex: 4;
          border: 1px solid red;
          display: flex;
          flex-wrap: wrap;
          align-items: center; }
          html body .wrapper div.subscribe div.form input {
            border: 1px solid red;
            flex: 3;
            padding-left: 25px;
            border: 1px solid black;
            font-size: 14px;
            height: 60px;
            margin: 0;
            align-content: center; }
          html body .wrapper div.subscribe div.form button.subscribe-button {
            border: 1px solid red;
            flex: 1;
            border: 1px solid black;
            height: 64px;
            width: 150px;
            background-color: black;
            color: white;
            font-size: 14px;
            margin: 0;
            align-content: center; }
  html footer div.flex-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 150px 100px;
    justify-content: space-around; }
    html footer div.flex-footer span.title {
      font-size: 18px;
      font-weight: bold;
      display: block; }
    html footer div.flex-footer .box1 {
      flex: 1;
      text-align: justify;
      border: 1px solid red;
      padding: 0 50px; }
    html footer div.flex-footer .box2 {
      flex: 1;
      text-align: justify;
      border: 1px solid red;
      padding: 0 70px; }
    html footer div.flex-footer .box3 {
      flex: 1;
      text-align: justify;
      border: 1px solid red;
      padding: 0 50px; }
    html footer div.flex-footer .box4 {
      flex: 1;
      padding: 0 50px;
      border: 1px solid red; }
      html footer div.flex-footer .box4 .form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row; }
        html footer div.flex-footer .box4 .form input {
          padding-left: 25px;
          border: 1px solid black;
          font-size: 14px;
          height: 50px;
          margin: 0;
          flex-basis: 100px; }
        html footer div.flex-footer .box4 .form button {
          padding: 20px;
          border: 1px solid black;
          height: 54px;
          background-color: black;
          color: white;
          font-size: 14px;
          margin: 0;
          align-content: center; }
  html footer .flex-bottom-container {
    padding: 26px 215px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    html footer .flex-bottom-container .logo {
      flex: 2 1 auto; }
      html footer .flex-bottom-container .logo a {
        color: gray;
        text-decoration: none;
        font-size: 14px; }
    html footer .flex-bottom-container .bottom-menu {
      display: flex;
      flex: 1 1 auto;
      flex-wrap: wrap;
      justify-content: space-around; }
      html footer .flex-bottom-container .bottom-menu li {
        list-style-type: none; }
        html footer .flex-bottom-container .bottom-menu li a {
          margin-left: 5px;
          font-size: 14px;
          text-decoration: none;
          color: black; }
          html footer .flex-bottom-container .bottom-menu li a:hover {
            border-bottom: 2px solid gray; }
