@mixin margin-padding($mtop, $mright, $mbottom, $mleft, $ptop, $pright, $pbottom, $pleft) {
    margin: $mtop $mright $mbottom $mleft;
    padding: $ptop $pright $pbottom $pleft;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

html {
    background-color: $htmlbackgroundColor;
    font-family: "Times New Roman", Times, serif;
    body {
        @include margin-padding(10px, 15%, 10px, 15%, 10px, 30px, 20px, 20px);
        @include width-height(auto, auto);
        color: $bodytextcolor;
        max-width: 1100px;
        background-color: $bodybackgroundColor;
        div {
            &.column {
                column-count: 2;
            }
            &#content {
                @include width-height(100%, auto);
                box-sizing: content-box;
                overflow-y: hidden;
                h1 {
                    color: $headingcolor;
                    text-align: center;
                    text-transform: $h1texttransform;
                }
                h2 {
                    color: $headingcolor;
                }
                img {
                    @include margin-padding(null, null, null, null, 2px, 2px, 2px, 2px);
                    @include width-height(auto, auto);
                    display: block;
                    border: $imgborder;
                    &.img-left {
                        @include margin-padding(0, 15px, 15px, 0, null, null, null, null);
                        float: left;
                    }
                    &.img-right {
                        @include margin-padding($imgmargintop, 0, 5px, 10px, null, null, null, null);
                        float: right;
                    }
                }
                div.brief {
                    @include margin-padding(0, 20px, $briefmarginbottom, 0, 15px, 15px, 15px, 15px);
                    @include width-height($briefwidth, auto);
                    color: black;
                    float: $brieffloat;
                    background-color: $briefbackgroundcolor;
                    display: block;
                }
                a {
                    color: $acolor;
                    &:hover {
                        color: $acolorhover;
                    }
                    &:visited {
                        color: $acolorvisited;
                    }
                }
                table {
                    @include margin-padding(0, 0, 50px, 0, null, null, null, null);
                    @include width-height(97%, auto);
                    border-collapse: collapse;
                    caption {
                        color: $tcaptioncolor;
                        text-align: right;
                    }
                    tbody {
                        tr {
                            &:first-child {
                                background-color: $theadbackgroundcolor;
                                th {
                                    @include margin-padding(null, null, null, null, 7px, 0, 7px, 15px);
                                    color: $theadcolor;
                                    font-weight: normal;
                                    text-align: left;
                                    text-transform: uppercase;
                                    border-right: 1px solid white;
                                    &:last-child {
                                        border-right: none;
                                    }
                                }
                            }
                            &:nth-child(n+1) {
                                td {
                                    @include margin-padding(null, null, null, null, 7px, 0, 7px, 15px);
                                    background-color: $tbodybackgroundcolor;
                                    border-bottom: $tborder;
                                }
                            }
                        }
                    }
                }
            }
        }
        input {
            &.cell_width {
                @include margin-padding(5px, 0, 15px, 0, 0, 0, 0, 5px);
                @include width-height(100%, 30px);
                color: #808080;
                border: 1px solid #D3D3D3;
                box-sizing: border-box;
                box-shadow: none;
            }
        }
        textarea {
            @include margin-padding(5px, 0, 20px, 0, 0, 0, 0, 5px);
            @include width-height(100%, 200px);
            color: #808080;
            border-color: #D3D3D3;
            box-sizing: border-box;
            vertical-align: top;
            resize: vertical;
        }
        #button {
            @include margin-padding(0, 0, 15px, 0, null, null, null, null);
            @include width-height(255px, 45px);
            position: relative;
            background-color: transparent;
            font-size: 125%;
            font-weight: normal;
            color: $buttoncolor;
            cursor: pointer;
            border: 1px $buttoncolor solid;
            transition: all ease 0.2s;
            &:hover {
                border: 3px $buttoncolor solid;
                font-weight: bold;
            }
            &:active {
                top: 3px;
                box-shadow: 0 3px 0 transparent;
            }
        }
        span {
            color: $formtextcolor;
        }
    }
}