$htmlbackgroundColor: #E0F6FD;
$bodybackgroundColor: #3B3B3B;
$bodytextcolor: #ffffff;
$headingcolor: #ECC114;
$imgborder: 2px solid #ECC114;
$h1texttransform: uppercase;
$tbodybackgroundcolor: #677D01;
$theadbackgroundcolor: #94A34E;
$theadcolor: #000000;
$tcaptioncolor: #000000;
$tborder: 0.5px solid #D3D3D3;
$acolor: #B29C04;
$formtextcolor: #ECC114;
$buttoncolor: #ECC114;
$briefbackgroundcolor: #FFF178;
$brieffloat: none;
$briefwidth: 97%;
$imgmargintop: 5px;
$briefmarginbottom: 45px;