//html
$htmlbackgroundColor: #DCBB9A;

//body
$bodybackgroundColor: #ffffff;
$bodytextcolor: black;

//heading
$headingcolor: #893C00;
$h1texttransform: none;

//table
$tbodybackgroundcolor: white;
$theadbackgroundcolor: #E0E0E0;
$theadcolor: black;
$tcaptioncolor: black;
$tborder: 1px solid #D3D3D3;

//a
$acolor: #5488B5;
$acolorhover: gray;
$acolorvisited: orange;

//form
$formtextcolor: #808080;

//button
$buttoncolor: #5488B5;

//.brief
$briefbackgroundcolor: #FADCBA;
$brieffloat: left;
$briefwidth: 40%;
$briefmarginbottom: 5px;

//img
$imgmargintop: 0;
$imgborder: 2px solid #893C00;