$htmlbackgroundColor: #DCBB9A;
$bodybackgroundColor: #ffffff;
$bodytextcolor: #000000;
$headingcolor: #893C00;
$imgborder: 2px solid #893C00;
$h1texttransform: none;
$tbodybackgroundcolor: #ffffff;
$theadbackgroundcolor: #E0E0E0;
$theadcolor: #000000;
$tcaptioncolor: #000000;
$tborder: 1px solid #D3D3D3;
$acolor: #5488B5;
$formtextcolor: #808080;
$buttoncolor: #5488B5;
$briefbackgroundcolor: #FADCBA;
$brieffloat: left;
$briefwidth: 40%;
$imgmargintop: 0;
$briefmarginbottom: 5px;